footer#footer.footer
    .footer-main
        ul
            li © CreaGames 2014-2017
            li:  a(href='/#dfg') www.creagames.com
            li Все права защищены
        .img

            img(src='images/k.png' alt='')
            img(src='images/crea_logo.png' alt='')