/**------------------------------------------------------------------
 * [Table of contents | Critical]
 *
 * 1. Typography #typography
 * 2. Variables #variables
 * 3. Colors #colors
 * 4. Mixins #mixins
 * 5. Normalize #normalize
 * 6. Grid-mixins #grid-mixins
 * 7. Responsive-utilites #responsive-utilites
 * 8. Grid #grid
 */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

input:focus {
  outline: none; }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
  background-color: transparent; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

/**
 * Colors #colors
 */
/**
 * Form colors
 */
@-webkit-keyframes showOpacity {
  0% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@-o-keyframes showOpacity {
  0% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }
@keyframes showOpacity {
  0% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }

@-webkit-keyframes showOpacityTilt {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0); }
  100% {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@-o-keyframes showOpacityTilt {
  0% {
    display: block;
    opacity: 0;
    transform: translate3d(0, 10%, 0); }
  100% {
    display: block;
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes showOpacityTilt {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0); }
  100% {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

/**
 * Typography #typography
 */
/**
 * Mixins #mixins
 */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container::after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 544px) {
    .container {
      max-width: 576px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 1020px; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid::after {
    content: "";
    display: table;
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xm-1, .col-xm-2, .col-xm-3, .col-xm-4, .col-xm-5, .col-xm-6, .col-xm-7, .col-xm-8, .col-xm-9, .col-xm-10, .col-xm-11, .col-xm-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1 {
  float: left;
  width: 8.33333%; }

.col-xs-2 {
  float: left;
  width: 16.66667%; }

.col-xs-3 {
  float: left;
  width: 25%; }

.col-xs-4 {
  float: left;
  width: 33.33333%; }

.col-xs-5 {
  float: left;
  width: 41.66667%; }

.col-xs-6 {
  float: left;
  width: 50%; }

.col-xs-7 {
  float: left;
  width: 58.33333%; }

.col-xs-8 {
  float: left;
  width: 66.66667%; }

.col-xs-9 {
  float: left;
  width: 75%; }

.col-xs-10 {
  float: left;
  width: 83.33333%; }

.col-xs-11 {
  float: left;
  width: 91.66667%; }

.col-xs-12 {
  float: left;
  width: 100%; }

.pull-xs-0 {
  right: auto; }

.pull-xs-1 {
  right: 8.33333%; }

.pull-xs-2 {
  right: 16.66667%; }

.pull-xs-3 {
  right: 25%; }

.pull-xs-4 {
  right: 33.33333%; }

.pull-xs-5 {
  right: 41.66667%; }

.pull-xs-6 {
  right: 50%; }

.pull-xs-7 {
  right: 58.33333%; }

.pull-xs-8 {
  right: 66.66667%; }

.pull-xs-9 {
  right: 75%; }

.pull-xs-10 {
  right: 83.33333%; }

.pull-xs-11 {
  right: 91.66667%; }

.pull-xs-12 {
  right: 100%; }

.push-xs-0 {
  left: auto; }

.push-xs-1 {
  left: 8.33333%; }

.push-xs-2 {
  left: 16.66667%; }

.push-xs-3 {
  left: 25%; }

.push-xs-4 {
  left: 33.33333%; }

.push-xs-5 {
  left: 41.66667%; }

.push-xs-6 {
  left: 50%; }

.push-xs-7 {
  left: 58.33333%; }

.push-xs-8 {
  left: 66.66667%; }

.push-xs-9 {
  left: 75%; }

.push-xs-10 {
  left: 83.33333%; }

.push-xs-11 {
  left: 91.66667%; }

.push-xs-12 {
  left: 100%; }

.offset-xs-1 {
  margin-left: 8.33333%; }

.offset-xs-2 {
  margin-left: 16.66667%; }

.offset-xs-3 {
  margin-left: 25%; }

.offset-xs-4 {
  margin-left: 33.33333%; }

.offset-xs-5 {
  margin-left: 41.66667%; }

.offset-xs-6 {
  margin-left: 50%; }

.offset-xs-7 {
  margin-left: 58.33333%; }

.offset-xs-8 {
  margin-left: 66.66667%; }

.offset-xs-9 {
  margin-left: 75%; }

.offset-xs-10 {
  margin-left: 83.33333%; }

.offset-xs-11 {
  margin-left: 91.66667%; }

@media (min-width: 544px) {
  .col-xm-1 {
    float: left;
    width: 8.33333%; }
  .col-xm-2 {
    float: left;
    width: 16.66667%; }
  .col-xm-3 {
    float: left;
    width: 25%; }
  .col-xm-4 {
    float: left;
    width: 33.33333%; }
  .col-xm-5 {
    float: left;
    width: 41.66667%; }
  .col-xm-6 {
    float: left;
    width: 50%; }
  .col-xm-7 {
    float: left;
    width: 58.33333%; }
  .col-xm-8 {
    float: left;
    width: 66.66667%; }
  .col-xm-9 {
    float: left;
    width: 75%; }
  .col-xm-10 {
    float: left;
    width: 83.33333%; }
  .col-xm-11 {
    float: left;
    width: 91.66667%; }
  .col-xm-12 {
    float: left;
    width: 100%; }
  .pull-xm-0 {
    right: auto; }
  .pull-xm-1 {
    right: 8.33333%; }
  .pull-xm-2 {
    right: 16.66667%; }
  .pull-xm-3 {
    right: 25%; }
  .pull-xm-4 {
    right: 33.33333%; }
  .pull-xm-5 {
    right: 41.66667%; }
  .pull-xm-6 {
    right: 50%; }
  .pull-xm-7 {
    right: 58.33333%; }
  .pull-xm-8 {
    right: 66.66667%; }
  .pull-xm-9 {
    right: 75%; }
  .pull-xm-10 {
    right: 83.33333%; }
  .pull-xm-11 {
    right: 91.66667%; }
  .pull-xm-12 {
    right: 100%; }
  .push-xm-0 {
    left: auto; }
  .push-xm-1 {
    left: 8.33333%; }
  .push-xm-2 {
    left: 16.66667%; }
  .push-xm-3 {
    left: 25%; }
  .push-xm-4 {
    left: 33.33333%; }
  .push-xm-5 {
    left: 41.66667%; }
  .push-xm-6 {
    left: 50%; }
  .push-xm-7 {
    left: 58.33333%; }
  .push-xm-8 {
    left: 66.66667%; }
  .push-xm-9 {
    left: 75%; }
  .push-xm-10 {
    left: 83.33333%; }
  .push-xm-11 {
    left: 91.66667%; }
  .push-xm-12 {
    left: 100%; }
  .offset-xm-0 {
    margin-left: 0%; }
  .offset-xm-1 {
    margin-left: 8.33333%; }
  .offset-xm-2 {
    margin-left: 16.66667%; }
  .offset-xm-3 {
    margin-left: 25%; }
  .offset-xm-4 {
    margin-left: 33.33333%; }
  .offset-xm-5 {
    margin-left: 41.66667%; }
  .offset-xm-6 {
    margin-left: 50%; }
  .offset-xm-7 {
    margin-left: 58.33333%; }
  .offset-xm-8 {
    margin-left: 66.66667%; }
  .offset-xm-9 {
    margin-left: 75%; }
  .offset-xm-10 {
    margin-left: 83.33333%; }
  .offset-xm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%; }
  .col-sm-2 {
    float: left;
    width: 16.66667%; }
  .col-sm-3 {
    float: left;
    width: 25%; }
  .col-sm-4 {
    float: left;
    width: 33.33333%; }
  .col-sm-5 {
    float: left;
    width: 41.66667%; }
  .col-sm-6 {
    float: left;
    width: 50%; }
  .col-sm-7 {
    float: left;
    width: 58.33333%; }
  .col-sm-8 {
    float: left;
    width: 66.66667%; }
  .col-sm-9 {
    float: left;
    width: 75%; }
  .col-sm-10 {
    float: left;
    width: 83.33333%; }
  .col-sm-11 {
    float: left;
    width: 91.66667%; }
  .col-sm-12 {
    float: left;
    width: 100%; }
  .pull-sm-0 {
    right: auto; }
  .pull-sm-1 {
    right: 8.33333%; }
  .pull-sm-2 {
    right: 16.66667%; }
  .pull-sm-3 {
    right: 25%; }
  .pull-sm-4 {
    right: 33.33333%; }
  .pull-sm-5 {
    right: 41.66667%; }
  .pull-sm-6 {
    right: 50%; }
  .pull-sm-7 {
    right: 58.33333%; }
  .pull-sm-8 {
    right: 66.66667%; }
  .pull-sm-9 {
    right: 75%; }
  .pull-sm-10 {
    right: 83.33333%; }
  .pull-sm-11 {
    right: 91.66667%; }
  .pull-sm-12 {
    right: 100%; }
  .push-sm-0 {
    left: auto; }
  .push-sm-1 {
    left: 8.33333%; }
  .push-sm-2 {
    left: 16.66667%; }
  .push-sm-3 {
    left: 25%; }
  .push-sm-4 {
    left: 33.33333%; }
  .push-sm-5 {
    left: 41.66667%; }
  .push-sm-6 {
    left: 50%; }
  .push-sm-7 {
    left: 58.33333%; }
  .push-sm-8 {
    left: 66.66667%; }
  .push-sm-9 {
    left: 75%; }
  .push-sm-10 {
    left: 83.33333%; }
  .push-sm-11 {
    left: 91.66667%; }
  .push-sm-12 {
    left: 100%; }
  .offset-sm-0 {
    margin-left: 0%; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .col-md-1 {
    float: left;
    width: 8.33333%; }
  .col-md-2 {
    float: left;
    width: 16.66667%; }
  .col-md-3 {
    float: left;
    width: 25%; }
  .col-md-4 {
    float: left;
    width: 33.33333%; }
  .col-md-5 {
    float: left;
    width: 41.66667%; }
  .col-md-6 {
    float: left;
    width: 50%; }
  .col-md-7 {
    float: left;
    width: 58.33333%; }
  .col-md-8 {
    float: left;
    width: 66.66667%; }
  .col-md-9 {
    float: left;
    width: 75%; }
  .col-md-10 {
    float: left;
    width: 83.33333%; }
  .col-md-11 {
    float: left;
    width: 91.66667%; }
  .col-md-12 {
    float: left;
    width: 100%; }
  .pull-md-0 {
    right: auto; }
  .pull-md-1 {
    right: 8.33333%; }
  .pull-md-2 {
    right: 16.66667%; }
  .pull-md-3 {
    right: 25%; }
  .pull-md-4 {
    right: 33.33333%; }
  .pull-md-5 {
    right: 41.66667%; }
  .pull-md-6 {
    right: 50%; }
  .pull-md-7 {
    right: 58.33333%; }
  .pull-md-8 {
    right: 66.66667%; }
  .pull-md-9 {
    right: 75%; }
  .pull-md-10 {
    right: 83.33333%; }
  .pull-md-11 {
    right: 91.66667%; }
  .pull-md-12 {
    right: 100%; }
  .push-md-0 {
    left: auto; }
  .push-md-1 {
    left: 8.33333%; }
  .push-md-2 {
    left: 16.66667%; }
  .push-md-3 {
    left: 25%; }
  .push-md-4 {
    left: 33.33333%; }
  .push-md-5 {
    left: 41.66667%; }
  .push-md-6 {
    left: 50%; }
  .push-md-7 {
    left: 58.33333%; }
  .push-md-8 {
    left: 66.66667%; }
  .push-md-9 {
    left: 75%; }
  .push-md-10 {
    left: 83.33333%; }
  .push-md-11 {
    left: 91.66667%; }
  .push-md-12 {
    left: 100%; }
  .offset-md-0 {
    margin-left: 0%; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

body, html {
  height: 100%; }

body {
  font-family: "Calibri";
  font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dt,
dd,
p {
  margin: 0;
  padding: 0; }

ul,
ol {
  list-style: none; }

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  button:hover, button:focus {
    outline: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.text-center {
  text-align: center; }

.bg-image {
  position: absolute;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center; }

.btn {
  position: relative;
  display: inline-block;
  height: 75px;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  vertical-align: middle;
  text-decoration: none;
  font-family: "Calibri";
  outline: none; }

.btn-wrap {
  text-align: center; }

.btn.btn--red.active {
  position: relative; }
  .btn.btn--red.active::before {
    content: '';
    display: block;
    background-image: url(../images/sprite.png);
    background-position: -465px -158px;
    width: 303px;
    height: 73px; }

.btn.btn--red {
  position: relative; }
  .btn.btn--red::before {
    content: '';
    display: block;
    background-image: url(../images/sprite.png);
    background-position: 0px -661px;
    width: 272px;
    height: 65px; }

.btn.btn--blue.active {
  position: relative; }
  .btn.btn--blue.active::before {
    content: '';
    display: block;
    background-image: url(../images/sprite.png);
    background-position: -465px -235px;
    width: 303px;
    height: 73px; }

.btn.btn--blue {
  position: relative; }
  .btn.btn--blue::before {
    content: '';
    display: block;
    background-image: url(../images/sprite.png);
    background-position: -356px -527px;
    width: 273px;
    height: 66px; }

.btn.btn--form {
  position: relative;
  background-image: url(../images/sprite.png);
  background-position: -465px -312px;
  width: 303px;
  height: 73px; }
  .btn.btn--form:hover {
    background-image: url(../images/sprite.png);
    background-position: -465px -389px;
    width: 303px;
    height: 73px; }

.btn.btn--social {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid #fff; }

.btn.btn--social::after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translatey(-50%);
      -ms-transform: translateX(-50%) translatey(-50%);
       -o-transform: translateX(-50%) translatey(-50%);
          transform: translateX(-50%) translatey(-50%); }

.ok:hover {
  background: #fff; }
  .ok:hover::after {
    background-image: url(../images/sprite.png);
    background-position: -465px -493px;
    width: 14px;
    height: 24px; }

.ok::after {
  background-image: url(../images/sprite.png);
  background-position: -483px -493px;
  width: 14px;
  height: 24px; }

.vk:hover {
  background: #fff; }
  .vk:hover::after {
    background-image: url(../images/sprite.png);
    background-position: -493px -466px;
    width: 23px;
    height: 13px; }

.vk::after {
  background-image: url(../images/sprite.png);
  background-position: -520px -466px;
  width: 23px;
  height: 13px; }

@-webkit-keyframes slidedown {
  0% {
    opacity: 1; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1; } }

@-o-keyframes slidedown {
  0% {
    opacity: 1; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1; } }

@keyframes slidedown {
  0% {
    opacity: 1; }
  50% {
    opacity: .2; }
  100% {
    opacity: 1; } }

@-webkit-keyframes ribble {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg); }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg); } }

@-o-keyframes ribble {
  20% {
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    transform: rotate3d(0, 0, 1, -5deg); }
  100% {
    transform: rotate3d(0, 0, 1, 0deg); } }

@keyframes ribble {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
            transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
            transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
            transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
            transform: rotate3d(0, 0, 1, -5deg); }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
            transform: rotate3d(0, 0, 1, 0deg); } }

/* form starting stylings ------------------------------- */
.form-wrap {
  display: none;
  position: relative;
  padding: 20px 65px 20px 60px;
  text-align: center;
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 461px;
  height: 523px; }

.form-wrap::before {
  z-index: -1;
  background: #000000;
  opacity: .8;
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px; }

.form-ttl {
  color: #d9e6ff;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 10px;
  padding: 8px 0;
  text-shadow: 0 0 20px rgba(14, 92, 234, 0.5), 0 0 20px rgba(14, 92, 234, 0.5), 0 0 25px rgba(14, 92, 234, 0.5); }

.form-group {
  position: relative;
  margin-bottom: 25px; }

.form-group .ico {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px; }
  .form-group .ico::after {
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }

.form-control {
  width: 100%;
  font-size: 17px;
  padding: 10px 20px 11px 50px;
  display: block;
  color: #fff;
  text-align: left;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #0e5cea; }
  .form-control::-webkit-input-placeholder {
    opacity: 1;
    color: #fff; }
  .form-control:-moz-placeholder {
    opacity: 1;
    color: #fff; }
  .form-control::-moz-placeholder {
    opacity: 1;
    color: #fff; }
  .form-control:-ms-input-placeholder {
    opacity: 1;
    color: #fff; }

.form-control:focus::-webkit-input-placeholder {
  opacity: 0; }

.form-control:focus:-moz-placeholder {
  opacity: 0; }

.form-control:focus::-moz-placeholder {
  opacity: 0; }

.form-control:focus:-ms-input-placeholder {
  opacity: 0; }

label.error {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 3px;
  font-size: 14px;
  line-height: 14px;
  color: #ff0000; }

.agree {
  padding-top: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  opacity: .2; }

.agree a {
  color: #fff;
  text-decoration: underline; }
  .agree a:hover {
    text-decoration: none; }

.enter {
  margin: 5px 0;
  font-size: 17px;
  line-height: 20px;
  color: #d9e6ff;
  font-family: "Calibri Bold"; }

.enter a {
  color: #fbbd2c;
  border-bottom: 2px solid #fbbd2c; }
  .enter a:hover {
    border: none; }

.nick::after {
  background-image: url(../images/sprite.png);
  background-position: -633px -527px;
  width: 14px;
  height: 18px; }

.mail::after {
  background-image: url(../images/sprite.png);
  background-position: -547px -466px;
  width: 19px;
  height: 12px; }

.pass::after {
  background-image: url(../images/sprite.png);
  background-position: -501px -493px;
  width: 15px;
  height: 19px; }

.wrap .bg-image {
  -webkit-box-shadow: inset 0 0 80px 40px #000000;
          box-shadow: inset 0 0 80px 40px #000000; }

.text {
  font-size: 16px;
  line-height: 20px;
  font-family: "Calibri"; }

.heading {
  padding-top: 80px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 36px;
  font-family: "Calibri";
  color: #d9e6ff;
  text-align: left; }

.sub-heading {
  margin: 5px 0;
  font-size: 18px;
  line-height: 22px;
  font-family: "Calibri";
  color: #d9e6ff; }

.spacer {
  margin-top: 60px; }

.spacer--small {
  margin-top: 45px; }

.col-center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.center-container {
  text-align: center; }

@media screen and (min-width: 992px) {
  .text {
    font-size: 18px;
    line-height: 22px; }
  .heading {
    padding-top: 80px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 40px;
    text-align: center; }
  .sub-heading {
    font-size: 20px;
    line-height: 24px; } }

.footer {
  right: 0;
  width: 100%;
  bottom: 0;
  padding: 0 20px 10px 20px;
  position: absolute;
  background-color: #000000;
  -webkit-box-shadow: 0 0 50px 27px #000000;
          box-shadow: 0 0 50px 27px #000000; }

.footer-main {
  text-align: center; }

.footer-main ul {
  display: inline-block; }

.footer-main ul li {
  margin-right: 20px;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  color: #d9e6ff; }

.footer-main ul li a,
.footer-main ul li span {
  color: #d9e6ff; }

.mfp-content .form-wrap {
  display: block; }

.mfp-container {
  padding: 60px 20px !important; }

.mfp-content {
  width: auto !important; }

.mfp-figure:after {
  display: none !important;
  border-radius: 60px;
  background: #fff; }

.social p {
  display: inline-block;
  margin-right: 15px;
  font-size: 19px;
  line-height: 22px;
  vertical-align: middle;
  color: #d9e6ff;
  text-shadow: 0 0 20px rgba(14, 92, 234, 0.5), 0 0 20px rgba(14, 92, 234, 0.5), 0 0 25px rgba(14, 92, 234, 0.5); }

.social ul,
.social ul li {
  display: inline-block;
  vertical-align: middle; }

.social ul li {
  margin-right: 10px; }

.wrap {
  min-height: 100%;
  position: relative;
  height: 100%;
  background: #000000; }

.main {
  position: relative;
  z-index: 5;
  padding-top: 25px;
  text-align: center; }

.logo {
  position: relative;
  margin: 25px 0; }
  .logo::after {
    content: '';
    display: inline-block;
    background-image: url(../images/sprite.png);
    background-position: -465px 0px;
    width: 307px;
    height: 154px; }

.main__text {
  margin: 25px 0;
  position: relative; }
  .main__text::after {
    content: '';
    display: inline-block;
    background-image: url(../images/sprite.png);
    background-position: 0px -527px;
    width: 352px;
    height: 130px; }

.bg {
  opacity: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.bg.active {
  opacity: 1; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mfp-container::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container::before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow::before,
.mfp-arrow::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow::after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow::before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left::after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left::before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right::after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right::before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure::after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure::after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
     -o-transform: scale(0.75);
        transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
     -o-transform-origin: 0;
        transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
     -o-transform-origin: 100%;
        transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/*# sourceMappingURL=critical.css.map */
